.rsl-request-demo {
    position: relative;
    padding: 140px 0;
    
    //Figure
    &__figure {
        position: absolute;
        z-index: -999;
        
        &_1 {
            top: 0;
            left: 0;
        }
        
        &_2 {
            top: 0;
            right: 0;
        }
    }
    
    &__title {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        
        h1 {
            color: $black;
            margin: 0;
            font-family: $font-family-denim;
        }
        
        p {
            margin: 0;
            font-size: 22px;
            line-height: 150%;
            color: $gray-600;
        }
    }
    
    &__form-wrap {
        position: relative;
        padding: 120px 0;
        margin-top: 80px;
        
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100% - 128px);
            border-radius: 0 0 16px 0;
            z-index: -10;
            background-color: #fff;
        }
    }
    
    .rsl-form {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 1128px;
        width: 100%;
        
        &__wrap {
            position: relative;
        }
        
        input:focus + label {
            top: 10px;
            left: 24px;
            font-size: 12px;
        }
    
        input:focus,
        input:active {
            padding-left: 24px;
            padding-top: 22px;
            padding-bottom: 10px;
        }
        
        input {
            width: 360px;
            border-radius: 60px;
            border: 1px solid $black;
            background-color: $gray-100;
            padding: 16px 24px;
            color: $black;
            font-size: 16px;
            line-height: 24px;
        }
        
        label {
            position: absolute;
            color: $gray-600;
            font-size: 16px;
            left: 24px;
            top: 16px;
            transition: 0.5s all;
        }
    
        &__wrap-text-area {
            width: 100%;
            height: auto;
            position: relative;
        }
    
        textarea {
            width: 100%;
            resize: none;
            border-radius: 30px;
            border: 1px solid $black;
            background-color: $gray-100;
            height: 270px;
            padding: 18px 24px;
            color: $black;
            font-size: 16px;
            line-height: 24px;
            
            &:focus {
                outline: none;
            }
        }
    
        textarea:focus + label {
            top: 8px;
            left: 24px;
            font-size: 12px;
        }
    }
}
