@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0 0 0;
    line-height: 1.25;
    font-weight: 700;
    
    &:first-child {
        padding-top: 0;
    }
}

//Headings

%h1 {
    font-size: rem(56);
}
%h2 {
    font-size: math-clamp(30, 48);
}
%h3 {
    font-size: rem(32);
}
%h4 {
    font-size: rem(24);
}
%h5 {
    font-size: rem(18);
    line-height: 24px;
}
%h6 {
    font-size: rem(12);
    line-height: 12px;
}

