@use "sass:math";

@import "mixins/functions";
@import "mixins/mixins";

$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
);

// Base custom typography style set
//
// Font, letter spacing, font size
$font-family-denim: 'Denim';
$font-family-es-allianz: 'ES Allianz';

$letter-spacing: (5, 10, 20, 30, 50, 100, 200, 500);

$font-size-from: 10; 		// Sets the font size set from
$font-size-to: 17; 			// Sets the font size set to
$font-size-array: (18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80); // Sets individual font size set

$line-height: false;
$line-height-from: 10; 	// Sets the line height set from
$line-height-to: 17; 		// Sets the line height set to
$line-height-array: (18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80); // Sets individual line height set


// Custom Spacers
$custom-spacers: (-10, 0, 5, 10, 15, 20, 25, 30, 35, 40, 50, 60, 70, 80, 90, 100);


// Base typography style
$base-font-size: 16px; // Sets the base font size
$base-line-height: 1.5; // Sets the base line height
$base-font-family: $font-family-es-allianz; // Sets the base font family

// Colors
$black: #283220;
$white: #ffffff;

$gray-100: #F0EDEB;
$gray-200: #E2E5E0;
$gray-300: #C9CCC7;
$gray-400: #9EA399;
$gray-500: #7E8479;
$gray-600: #61665D;
$gray-700: #464D41;

$light-green: #CFF1B2;
$medium-green: #CCD055;
$army-green: #4D5133;

$tan: #D7C9B1;
$orange: #F99E67;


